@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .justify-normal {
    justify-content: normal;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.home-gradient {
  background: linear-gradient(
    180deg,
    #11224f 0%,
    #1a3b71 24.099999999999998%,
    #2c599d 49.8%,
    #5c84c5 74.9%,
    #fff 100%
  );
}

.wrap-balance {
  text-wrap: balance;
}
